if [ "$LOGNAME" = root ] || [ "`id -u`" -eq 0 ] ; then

    PS1='\[\e[38;5;196m\]\u\[\e[38;5;202m\]@\[\e[38;5;51m\]\h \[\e[38;5;195m\]\w \[\033[0m\]$ '

else
    PS1='\[\e[31m\][\[\e[m\]\[\e[38;5;172m\]\u\[\e[m\]@\[\e[38;5;153m\]\h\[\e[m\] \[\e[38;5;214m\]\W\[\e[m\]\[\e[31m\]]\[\e[m\]\\$ '
fi